.container {
    margin: 50px;
}

.title {
    margin-bottom: 20px;
}

.container__item {
    background-color: white;
    margin: 3px;
    padding: 15px;
}

.containers {
    margin: 10px 0;
}

.container__item--text {
    font-weight: bolder;
    font-size: 24px;
}